Repository VKormylo/OSChat, pull requests merged in 2024-12, with the labels that each got.

#16 Created sidebar according to figma design
  .idea/.idea.OSChat.dir/.idea/.gitignore
  .idea/.idea.OSChat.dir/.idea/vcs.xml
  client/.idea/.idea.client.dir/.idea/material_theme_project_new.xml
  client/App.xaml
  client/Images/logout-icon.png
  client/Images/pipe-icon.png
  client/Images/shared-memory-icon.png
  client/Images/socket-icon.png
  client/Images/user-profile.png
  client/MainWindow.xaml
  client/Styles/SidebarTab.xaml
  client/client.csproj
  client/obj/Debug/net6.0-windows/App.g.cs
  client/obj/Debug/net6.0-windows/MainWindow.g.cs
  client/obj/rider.project.restore.info
Labels: client, design, feature, xaml

#23 Created RelayCommand class
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  logic/RelayCommand.cs
Labels: feature, library

#25 Created PipesViewModel
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  logic/PipesViewModel.cs
Labels: feature, library

#26 Created ObservableObject class
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  logic/ObservableObject.cs
  server/obj/rider.project.restore.info
Labels: feature, library

#28 Created MainViewModel for switching between sync methods
  logic/MainViewModel.cs
Labels: feature, library

#30 Created MappingViewModel class
  client/obj/Debug/net6.0-windows/App.g.cs
  client/obj/Debug/net6.0-windows/MainWindow.g.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/client.csproj.nuget.g.props
  logic/Constants.cs
  logic/MappingViewModel.cs
  server/obj/Debug/net6.0-windows/MainWindow.g.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/project.packagespec.json
  server/obj/server.csproj.nuget.g.props
Labels: feature, library

#32 Changed SocketsViewModel to WinApi functions
  client/obj/Debug/net6.0-windows/App.g.cs
  client/obj/Debug/net6.0-windows/MainWindow.g.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  logic/SocketsViewModel.cs
  server/obj/Debug/net6.0-windows/MainWindow.g.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
Labels: feature, library

#33 Implemented ability to switch between sync methods
  client/App.xaml
  client/MVVM/View/MappingView.xaml
  client/MVVM/View/MappingView.xaml.cs
  client/MVVM/View/PipesView.xaml
  client/MVVM/View/PipesView.xaml.cs
  client/MVVM/View/SocketsView.xaml
  client/MVVM/View/SocketsView.xaml.cs
  client/MainWindow.xaml
  client/client.csproj
  client/obj/Debug/net6.0-windows/App.g.cs
  client/obj/Debug/net6.0-windows/MainWindow.g.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  logic/logic.csproj
  server/obj/Debug/net6.0-windows/App.g.cs
  server/obj/Debug/net6.0-windows/MainWindow.g.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
Labels: client, feature

#34 Created message view
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  client/App.xaml
  client/Images/send-icon.png
  client/Images/user-profile-dark.png
  client/MVVM/View/MappingView.xaml
  client/MVVM/View/PipesView.xaml
  client/MVVM/View/SocketsView.xaml
  client/MainWindow.xaml
  client/Styles/MessageTemplate.xaml
  client/Styles/TextBoxStyles.xaml
  client/client.csproj
  client/obj/Debug/net6.0-windows/App.g.cs
  client/obj/Debug/net6.0-windows/MainWindow.g.cs
  client/obj/rider.project.restore.info
  logic/MainViewModel.cs
  logic/MessageTemplateSelector.cs
  server/obj/project.assets.json
  server/obj/rider.project.restore.info
Labels: client, design, feature, xaml

#36 Migrated everything present on client to server
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  server/App.xaml
  server/Images/logout-icon.png
  server/Images/pipe-icon.png
  server/Images/send-icon.png
  server/Images/shared-memory-icon.png
  server/Images/socket-icon.png
  server/Images/user-profile-dark.png
  server/Images/user-profile.png
  server/MVVM/View/MappingView.xaml
  server/MVVM/View/MappingView.xaml.cs
  server/MVVM/View/PipesView.xaml
  server/MVVM/View/PipesView.xaml.cs
  server/MVVM/View/SocketsView.xaml
  server/MVVM/View/SocketsView.xaml.cs
  server/MainWindow.xaml
  server/Styles/MessageTemplate.xaml
  server/Styles/SidebarTab.xaml
  server/Styles/TextBoxStyles.xaml
  server/obj/Debug/net6.0-windows/App.g.cs
  server/obj/Debug/net6.0-windows/MainWindow.g.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
  server/server.csproj
Labels: client, feature, refactor, server

#39 Released sending and accepting messages both server and client
  client/MVVM/View/SocketsView.xaml
  client/MVVM/View/SocketsView.xaml.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  logic/SocketsViewModel.cs
  server/MVVM/View/SocketsView.xaml
  server/MVVM/View/SocketsView.xaml.cs
  server/obj/Debug/net6.0-windows/App.g.cs
  server/obj/Debug/net6.0-windows/MainWindow.g.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
Labels: feature, library

#45 Created logout button functionality
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  client/MainWindow.xaml
  client/MainWindow.xaml.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  server/MainWindow.xaml
  server/MainWindow.xaml.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
Labels: client, feature, server

#46 Released accepting and sending messages via file mapping
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  client/MVVM/View/MappingView.xaml
  client/MVVM/View/MappingView.xaml.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/rider.project.restore.info
  logic/Constants.cs
  logic/MappingViewModel.cs
  server/MVVM/View/MappingView.xaml
  server/MVVM/View/MappingView.xaml.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/rider.project.restore.info
Labels: client, library, server

#48 Fixed project config
  client/MVVM/View/SocketsView.xaml
  client/obj/rider.project.restore.info
  server/obj/rider.project.restore.info
Labels: bug, refactor

#51 Fixed clearing message input after sending a message
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  client/MVVM/View/PipesView.xaml.cs
  client/MVVM/View/SocketsView.xaml.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/rider.project.restore.info
  server/MVVM/View/PipesView.xaml.cs
  server/MVVM/View/SocketsView.xaml.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/rider.project.restore.info
Labels: bug, client, server

#56 Fixed scrolling down on message sent or received in file mapping
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  client/MVVM/View/MappingView.xaml
  client/MVVM/View/MappingView.xaml.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  logic/MappingViewModel.cs
  logic/imports/CommonImports.cs
  server/MVVM/View/MappingView.xaml
  server/MVVM/View/MappingView.xaml.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
Labels: bug, client, library, server

#57 Fixed scrolling down on message sent or received in pipes
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  client/MVVM/View/PipesView.xaml
  client/MVVM/View/PipesView.xaml.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  logic/PipesViewModel.cs
  server/MVVM/View/PipesView.xaml
  server/MVVM/View/PipesView.xaml.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
Labels: bug, client, library, server

#58 Created LogToFile function that logs errors and messages
  .gitignore
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  logic/Constants.cs
  logic/FileLogging.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
Labels: feature, library

#63 Fixed scrolling down on message sent or received in sockets
  client/MVVM/View/SocketsView.xaml
  client/MVVM/View/SocketsView.xaml.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  logic/SocketsViewModel.cs
  server/MVVM/View/SocketsView.xaml
  server/MVVM/View/SocketsView.xaml.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
Labels: bug, client, library, server

#64 Added messages and errors logging in MappingViewModel
  client/MVVM/View/MappingView.xaml.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  logic/MappingViewModel.cs
  server/MVVM/View/MappingView.xaml.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
Labels: client, feature, server

#65 Add messages and errors logging in PipesViewModel
  .idea/.idea.OSChat.dir/.idea/workspace.xml
  client/MVVM/View/PipesView.xaml.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfo.cs
  client/obj/Debug/net6.0-windows/client.AssemblyInfoInputs.cache
  client/obj/Debug/net6.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
  client/obj/Debug/net6.0-windows/client.assets.cache
  client/obj/client.csproj.nuget.dgspec.json
  client/obj/client.csproj.nuget.g.props
  client/obj/project.assets.json
  client/obj/project.nuget.cache
  client/obj/project.packagespec.json
  client/obj/rider.project.restore.info
  logic/PipesViewModel.cs
  server/MVVM/View/PipesView.xaml.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfo.cs
  server/obj/Debug/net6.0-windows/server.AssemblyInfoInputs.cache
  server/obj/Debug/net6.0-windows/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net6.0-windows/server.assets.cache
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/project.packagespec.json
  server/obj/rider.project.restore.info
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
Labels: client, feature, server
